<div class="ll-feature bg-warn pt-12 pb-14">
    <div class="container">
        <div class="grid grid-cols-12">
            <div class="_title-wrap bg-black col-span-12 sm:col-span-6 lg:col-span-4 xl:col-span-3 sm:row-span-3">
                <h2 class="_title text-white">
                    DELIVERING RESULTS FOR OUR CLIENTS
                </h2>
            </div>
            <div class="flex _feature mt-8 col-span-12 sm:col-span-6 lg:col-span-4 xl:col-span-3">
                <div class="flex-none w-16 text-center">
                    <mat-icon>check</mat-icon>
                </div>
                <div class="flex-grow">
                    <h2 class="font-black text-black">FREE DELIVERY</h2>
                </div>
            </div>
            <div class="flex _feature mt-8 col-span-12 sm:col-span-6 lg:col-span-4 xl:col-span-3">
                <div class="flex-none w-16 text-center">
                    <mat-icon>check</mat-icon>
                </div>
                <div class="flex-grow">
                    <h2 class="font-black text-black">QUICK DELIVERY
                        
                        </h2>
                </div>
            </div>
            <div class="flex _feature mt-8 col-span-12 sm:col-span-6 lg:col-span-4 xl:col-span-3">
                <div class="flex-none w-16 text-center">
                    <mat-icon>check</mat-icon>
                </div>
                <div class="flex-grow">
                    <h2 class="font-black text-black">
                        CUSTOMER SERVICE
                        7 days a week by email</h2>
                </div>
            </div>
            <div class="flex _feature mt-8 col-span-12 sm:col-span-6 lg:col-span-4 xl:col-span-3">
                <div class="flex-none w-16 text-center">
                    <mat-icon>check</mat-icon>
                </div>
                <div class="flex-grow">
                    <h2 class="font-black text-black">+216 74 000 000</h2>
                </div>
            </div>
            <div class="flex _feature mt-8 col-span-12 sm:col-span-6 lg:col-span-4 xl:col-span-3">
                <div class="flex-none w-16 text-center">
                    <mat-icon>check</mat-icon>
                </div>
                <div class="flex-grow">
                    <h2 class="font-black text-black">100% SECURE PAYMENT
                    </h2>
                </div>
            </div>
            <div class="flex _feature mt-8 col-span-12 sm:col-span-6 lg:col-span-4 xl:col-span-3">
                <div class="flex-none w-16 text-center">
                    <mat-icon>check</mat-icon>
                </div>
                <div class="flex-grow">
                    <h2 class="font-black text-black">Ghazela , Ariana </h2>
                </div>
            </div>
        </div>
    </div>
</div>