<div class="mt-32">
  <div class="container">
    <div class="grid grid-cols-12 gap-8">
      <div class="col-span-12 md:col-span-7 xl:col-span-8 border p-5">
        <a href="javascript:void(0)" class="category text-primary inline-block mb-5">{{currentCategory.categoryNom}}</a>
        <h1 class="_title font-medium">{{currentProduct.articleNom}}</h1>
        <ul class="product-meta flex flex-wrap items-center mt-8 mb-8">
          <li class="mr-4">
            <a class="flex items-center pr-4 py-1 hover:text-primary" href="javascript:void(0)"
              ><mat-icon class="mr-2" color="warn">start</mat-icon> {{currentProduct.rate}}/5 (14 Feedback)</a
            >
          </li>
          <li class="mr-4">
            <a class="flex items-center pr-4 py-1 hover:text-primary" href="javascript:void(0)"
              ><mat-icon class="mr-2">favorite</mat-icon> Save</a
            >
          </li>

          <li class="mr-4">
            <a class="flex items-center pr-4 py-1 hover:text-primary" href="javascript:void(0)"
              ><mat-icon class="mr-2">share</mat-icon> Share</a
            >
          </li>
        </ul>
        <img class="max-w-xl mx-auto w-full" src="assets/images/products/{{currentProduct.articleImage}}" alt="img not found" />
        <div class="ll-content mt-8">



          <h6>Description:</h6>
          <blockquote>
            {{currentProduct.articleDescription}}
          </blockquote>
        </div>
      </div>
      <div class="col-span-12 md:col-span-5 xl:col-span-4">
        <div class="border">
          <div class="border-b text-center pt-10 pb-10">
            <div class="text-accent text-4xl font-semi-bold">€{{currentProduct.articlePrice}}</div>
            <div class="font-medium text-lg mt-3 text-gray-400 tracking-wider">Price</div>
          </div>
          <div class="border-b p-5">
            <ul class="service-info">
              <li class="py-2 mr-2">
                <div class="flex items-center">
                  <mat-icon class="text-primary border-2 rounded-full w-6 h-6 text-center leading-5 mr-2">check</mat-icon>
                  <strong class="mr-2 font-black">96</strong> interested persons
                </div>
              </li>
              <li class="py-2 mr-2">
                <div class="flex items-center">
                  <mat-icon class="text-primary border-2 rounded-full w-6 h-6 text-center leading-5 mr-2">check</mat-icon>
                  <strong class="mr-2 font-black">1 hours</strong> reaction time
                </div>
              </li>
              <li class="py-2 mr-2">
                <div class="flex items-center">
                  <mat-icon class="text-primary border-2 rounded-full w-6 h-6 text-center leading-5 mr-2">check</mat-icon>
                  <strong class="mr-2 font-black">12 hours</strong> delivery time
                </div>
              </li>
            </ul>
          </div>
          <div class="border-b p-5">
            <h5>Information :</h5>
            <ul class="service-info">
              <li class="py-2 mr-2">
                <div class="flex items-center">
                  <mat-icon class="text-primary border-2 rounded-full w-6 h-6 text-center leading-5 mr-2">check</mat-icon>
                  <strong class="mr-2 font-black ">{{currentProduct.available}}</strong> Disponibilité
                </div>
              </li>
              <br>
              <li class="py-2 mr-2">
                <div class="flex items-center">
                  <mat-icon class="text-primary border-2 rounded-full w-6 h-6 text-center leading-5 mr-2">check</mat-icon>
                  <strong class="mr-2 font-black">1 </strong> Quantité
                </div>
              </li>
            </ul>
                
              
          </div>
          <div class="border-b px-5 pt-10 pb-12 text-center">
            <p class="text-gray-400 mb-4">This price can increase due to additional bookings</p>
            <button [routerLink]="['/Basket']" mat-flat-button class="py-3 px-20 text-xl font-bold" color="accent" (click)="onAddProductToCaddy()">Add in Basket</button>
          </div>
        </div>
        <div class="border mt-5 px-5 py-10 text-center">
          <p class="font-bold mb-3">Do you have any special requirements?</p>
          <button mat-stroked-button class="py-2 px-12 text-lg font-bold text-gray-700">Send us</button>
        </div>
      </div>
    </div>
  </div>
</div>
